# Task : Session 1

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [4]:
print('Data','Science','Mentorship','Program',sep='-',end='-')
print('By','CampusX',sep='-')

Data-Science-Mentorship-Program-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [10]:
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print(fahrenheit)

Enter temperature in Celsius: 43
109.4

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [11]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
print("Before swapping: num1 = {}, num2 = {}".format(num1, num2))
temp = num1
num1 = num2
num2 = temp
print("After swapping: num1 = {}, num2 = {}".format(num1, num2))

Enter first number: 10
Enter second number: 30
Before swapping: num1 = 10, num2 = 30
After swapping: num1 = 30, num2 = 10

In [12]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
print("Before swapping: num1 = {}, num2 = {}".format(num1, num2))
num1, num2 = num2, num1   # special python syntax
print("After swapping: num1 = {}, num2 = {}".format(num1, num2))

Enter first number: 23
Enter second number: 89
Before swapping: num1 = 23, num2 = 89
After swapping: num1 = 89, num2 = 23

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [15]:
x1 = float(input("Enter x1: "))
y1 = float(input("Enter y1: "))
x2 = float(input("Enter x2: "))
y2 = float(input("Enter y2: "))
distance = ((x2 - x1)**2 + (y2 - y1)**2)**0.5
print("Euclidean distance between two coordinates:", round(distance,2))

Enter x1: 9
Enter y1: 9
Enter x2: 0
Enter y2: 0
Euclidean distance between two coordinates: 12.73

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [17]:
p = float(input("Enter the principle amount: "))
r = float(input("Enter the rate of interest: "))
t = float(input("Enter the time period: "))
si = (p * r * t) / 100
print("Simple interest:", round(si,2))

Enter the principle amount: 45000
Enter the rate of interest: 6.8
Enter the time period: 3
Simple interest: 9180.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [26]:
head = int(input("Enter the number of heads: "))
leg = int(input("Enter the number of legs: "))
dogs = head
chickens = 0
while (dogs*4)+(chickens*2) != leg:
    chickens += 1
    dogs -= 1
print("Dogs:", dogs)
print("Chickens:", chickens)

Enter the number of heads: 14
Enter the number of legs: 38
Dogs: 5
Chickens: 9

In [23]:
head = int(input("Enter the number of heads: "))
leg = int(input("Enter the number of legs: "))
dog = (leg - 2 * head) // 2
chicken = head - dog
print("Dogs:", dog)
print("Chicken:", chicken)

Enter the number of heads: 10
Enter the number of legs: 38
Dogs: 9
Chicken: 1

Explanation:

legs = 4*dogs + 2*chickens
<br>
heads = dogs + chickens

Then, find dogs in terms of heads and legs and then find chickens.

dogs = (legs - 2*heads) // 2

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [33]:
n = int(input("Enter the value of n: "))
sum = 0
for i in range(1, n+1):
    sum += i**2
print("Sum of squares of first {} natural numbers: {}".format(n,sum))

Enter the value of n: 10
Sum of squares of first 10 natural numbers: 385

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [37]:
fterm = int(input("Enter the first term: "))
sterm = int(input("Enter the second term: "))
nth = int(input("Enter the nth term: "))
nterm = fterm + (nth-1)*(sterm-fterm)
print("The {}th term of the series is: {}".format(nth,nterm))

Enter the first term: 5
Enter the second term: 3
Enter the nth term: 10
The 10th term of the series is: -13

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [39]:
num1 = int(input("Enter the numerator of the first fraction: "))
den1 = int(input("Enter the denominator of the first fraction: "))
num2 = int(input("Enter the numerator of the second fraction: "))
den2 = int(input("Enter the denominator of the second fraction: "))
sum_num = num1*den2 + num2*den1
sum_den = den1*den2
print("Sum of the fractions: {}/{}".format(sum_num,sum_den))

Enter the numerator of the first fraction: 5
Enter the denominator of the first fraction: 7
Enter the numerator of the second fraction: 9
Enter the denominator of the second fraction: 3
Sum of the fractions: 78/21

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.

Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [43]:
htank = int(input("Enter the height of the milk tank: "))
ltank = int(input("Enter the length of the milk tank: "))
btank = int(input("Enter the breadth of the milk tank: "))
hglass = int(input("Enter the height of the glass: "))
rglass = int(input("Enter the radius of the glass: "))
total = (htank*ltank*btank)//(3.14*hglass*(rglass**2))
print("Number of glasses of milk can be obtained: {}".format(total))

Enter the height of the milk tank: 20
Enter the length of the milk tank: 20
Enter the breadth of the milk tank: 20
Enter the height of the glass: 3
Enter the radius of the glass: 1
Number of glasses of milk can be obtained: 849.0