Task 2

### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [ ]:
sal = float(input("Enter your salary: "))
hra = sal*0.1
da = sal*0.05
pf = sal*0.03
if sal < 500000:
  tax = 0
elif sal < 1000000:
  tax = 0.1*sal
elif sal < 2000000:
  tax = 0.2*sal
else:
  tax = 0.3*sal
print('In hand monthly salary: ', (sal - (hra + da + pf + tax))//12)

Enter your salary: 1500000
In hand monthly salary:  77500.0

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
a1 = int(input("Enter angle 1: "))
a2 = int(input("Enter angle 2: "))
a3 = int(input("Enter angle 3: "))
if a1 + a2 + a3 == 180:
  print("Triangle can be formed")
else:
  print("Triangle cannot be formed")

Enter angle 1: 65
Enter angle 2: 39
Enter angle 3: 87
Triangle cannot be formed

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
cp = int(input("Enter cost price: "))
sp = int(input("Enter selling price: "))
if sp > cp:
  print("Profit")
elif sp < cp:
  print("Loss")
else:
  print("Neither profit nor loss")

Enter cost price: 100
Enter selling price: 120
Profit

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [ ]:
menu = int(input("1. cm to ft\n2. km to miles\n3. USD to INR\n4. exit\nEnter your choice: "))
if menu == 1:
  cm = int(input("Enter length in cm: "))
  ft = cm/30.48
  print("Length in ft: ", round(ft,2))
elif menu == 2:
  km = int(input("Enter length in km: "))
  miles = km/1.609
  print("Length in miles: ", round(miles,2))
elif menu == 3:
  usd = int(input("Enter amount in USD: "))
  inr = usd*83.36
  print("Amount in INR: ", inr)
elif menu == 4:
  print("Exiting...")

1. cm to ft
2. km to miles
3. USD to INR
4. exit
Enter your choice: 3
Enter amount in USD: 250
Amount in INR:  20840.0

In [30]:
while True:
  user_input = int(input("""Enter
1. For cm to ft
2. For km to miles
3. For USD to INR
4. For exit
"""))
  if user_input == 4:
    print('EXIT')
    break
  else:
    if user_input == 1:
      cm = int(input('Enter cm: '))
      print(cm ,'cm = ',round(cm*0.0328084,2),'ft')
    elif user_input == 2:
      km = int(input('Enter km: '))
      print(km ,'km = ',round(km*0.62137119,2),'miles')
    else:
        usd = int(input('Enter usd: '))
        print(usd ,'USD = ',round(usd*83.33,2),'INR')
  print('-'*150)

Enter
1. For cm to ft
2. For km to miles
3. For USD to INR
4. For exit
1
Enter cm: 100
100 cm =  3.28 ft
------------------------------------------------------------------------------------------------------------------------------------------------------
Enter
1. For cm to ft
2. For km to miles
3. For USD to INR
4. For exit
3
Enter usd: 9000
9000 USD =  749970.0 INR
------------------------------------------------------------------------------------------------------------------------------------------------------
Enter
1. For cm to ft
2. For km to miles
3. For USD to INR
4. For exit
4
EXIT

### `Problem 5` - Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [ ]:
n = int(input("Enter number of terms: "))
first = 0
second = 1
if n == 1:
  print(first)
elif n == 2:
  print(first, second)
else:
  print(first, second, end = " ")
  for i in range(2, n):
    third = first + second
    print(third, end = " ")
    first = second
    second = third

Enter number of terms: 10
0 1 1 2 3 5 8 13 21 34

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [ ]:
n = int(input("Enter number: "))
fact = 1
for i in range(1, n+1):
  fact *= i
print(fact)

Enter number: 5
120

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [ ]:
num = int(input('Enter number: '))
rev = 0
while num != 0:
  rev = rev*10 + num%10
  num = num//10
print(rev)

Enter number: 12345678
87654321

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [ ]:
n = int(input("Enter number: "))
sum = 0
i = 1
while i <= n and (sum+i) < 300:
  if i%5 == 0:
    i += 1
    continue
  sum += i
  i += 1
print(sum)

Enter number: 100
276

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
num = int(input('Enter number: '))
sum = 0
count = 0
while num != 0:
  sum += num
  count += 1
  num = int(input('Enter number: '))
print('Sum: ', sum)
print('Average: ', sum/count)

Enter number: 10
Enter number: 20
Enter number: 30
Enter number: 40
Enter number: 50
Enter number: 60
Enter number: 70
Enter number: 0
Sum:  280
Average:  40.0

###`Problem 10`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
for i in range(2000, 3201):
  if i%7 == 0 and i%5 != 0:
    print(i,end=',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

###`Problem 11`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [ ]:
for i in range(1000, 3001):
  s = str(i)
  if int(s[0])%2 == 0 and int(s[1])%2 == 0 and int(s[2])%2 == 0 and int(s[3])%2 == 0:
    print(i,end=' ')

2000 2002 2004 2006 2008 2020 2022 2024 2026 2028 2040 2042 2044 2046 2048 2060 2062 2064 2066 2068 2080 2082 2084 2086 2088 2200 2202 2204 2206 2208 2220 2222 2224 2226 2228 2240 2242 2244 2246 2248 2260 2262 2264 2266 2268 2280 2282 2284 2286 2288 2400 2402 2404 2406 2408 2420 2422 2424 2426 2428 2440 2442 2444 2446 2448 2460 2462 2464 2466 2468 2480 2482 2484 2486 2488 2600 2602 2604 2606 2608 2620 2622 2624 2626 2628 2640 2642 2644 2646 2648 2660 2662 2664 2666 2668 2680 2682 2684 2686 2688 2800 2802 2804 2806 2808 2820 2822 2824 2826 2828 2840 2842 2844 2846 2848 2860 2862 2864 2866 2868 2880 2882 2884 2886 2888

In [ ]:
for i in range(1000, 3001):
  num = i
  count = 0
  while num != 0:
    if num%2 == 0:
      count += 1
    num = num//10
  if count == 4:
    print(i,end=' ')

2000 2002 2004 2006 2008 2020 2022 2024 2026 2028 2040 2042 2044 2046 2048 2060 2062 2064 2066 2068 2080 2082 2084 2086 2088 2200 2202 2204 2206 2208 2220 2222 2224 2226 2228 2240 2242 2244 2246 2248 2260 2262 2264 2266 2268 2280 2282 2284 2286 2288 2400 2402 2404 2406 2408 2420 2422 2424 2426 2428 2440 2442 2444 2446 2448 2460 2462 2464 2466 2468 2480 2482 2484 2486 2488 2600 2602 2604 2606 2608 2620 2622 2624 2626 2628 2640 2642 2644 2646 2648 2660 2662 2664 2666 2668 2680 2682 2684 2686 2688 2800 2802 2804 2806 2808 2820 2822 2824 2826 2828 2840 2842 2844 2846 2848 2860 2862 2864 2866 2868 2880 2882 2884 2886 2888

###`Problem 12`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [19]:
x = 0   # int(input('Enter x-coordinate: '))
y = 0   # int(input('Enter y-coordinate: '))

direction = input("""
Enter direction (UP, DOWN, LEFT, RIGHT or '!' to STOP):
""").upper()

while direction != '!':
  d = int(input('Enter distance: '))
  if direction == 'UP':
    y += d
  elif direction == 'DOWN':
    y -= d
  elif direction == 'LEFT':
    x -= d
  elif direction == 'RIGHT':
    x += d
  else:
    pass
  direction = input("""
Enter direction (UP, DOWN, LEFT, RIGHT or '!' to STOP):
""").upper()

print('-'*100)
print('Distance moved:',round(((x**2 + y**2)**0.5)))

Enter direction (UP, DOWN, LEFT, RIGHT or '!' to STOP):
up
Enter distance: 7

Enter direction (UP, DOWN, LEFT, RIGHT or '!' to STOP):
down
Enter distance: 8

Enter direction (UP, DOWN, LEFT, RIGHT or '!' to STOP):
left
Enter distance: 5

Enter direction (UP, DOWN, LEFT, RIGHT or '!' to STOP):
!
----------------------------------------------------------------------------------------------------
Distance moved: 5

###`Problem 13`:Write a program to print whether a given number is a prime number or not

In [31]:
num = int(input('Enter number: '))
i = 2
while i<num:
  if num%i == 0:
    print('Not prime')
    break
  i += 1
else:
  print('Prime')

Enter number: 79
Prime

###`Problem 14`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [ ]:
lrange = int(input('Enter lower range: '))
urange = int(input('Enter upper range: '))
for i in range(lrange, urange+1):
  sum = 0
  num = i
  d = len(str(num))
  while num != 0:
    sum += (num%10)**d
    num = num//10
  if sum == i:
    print(i,end=',')

Enter lower range: 1
Enter upper range: 10000
1,2,3,4,5,6,7,8,9,153,370,371,407,1634,8208,9474,

An Armstrong number is a number that equals the sum of its individual digits, each raised to the power of the number of digits.

###`Problem 15`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [28]:
import math
h = int(input('Enter hour: '))
m = int(input('Enter minute: '))
angle = abs(5.5*m - 30*h)
if angle > 180:
  print(math.floor(360 - angle))
else:
  print(math.floor(angle))

Enter hour: 7
Enter minute: 13
138

[refer](https://byjusexamprep.com/ssc-exam/what-is-the-angle-between-the-hour-hand-and-the-minute-hand-of-the-clock-at-130)

[For more details](https://www.splashlearn.com/math-vocabulary/clock-angle-formula)

###`Problem 16`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

[refer](https://www.geeksforgeeks.org/find-two-rectangles-overlap/)

In [29]:
L1_x = int(input('Enter x-coordinate of L1: '))
L1_y = int(input('Enter y-coordinate of L1: '))
R1_x = int(input('Enter x-coordinate of R1: '))
R1_y = int(input('Enter y-coordinate of R1: '))
L2_x = int(input('Enter x-coordinate of L2: '))
L2_y = int(input('Enter y-coordinate of L2: '))
R2_x = int(input('Enter x-coordinate of R2: '))
R2_y = int(input('Enter y-coordinate of R2: '))

# if rectangle has area 0, no overlap
if L1_x == R1_x or L1_y == R1_y or R2_x == L2_x or L2_y == R2_y:
  print('Not overlapping')

# If one rectangle is on left side of other
elif L1_x > R2_x or L2_x > R1_x:
  print('Not overlapping')

# If one rectangle is above other
elif R1_y > L2_y or R2_y > L1_y:
  print('Not overlapping')

else:
  print('Overlapping')

Enter x-coordinate of L1: 0
Enter y-coordinate of L1: 10
Enter x-coordinate of R1: 10
Enter y-coordinate of R1: 0
Enter x-coordinate of L2: 5
Enter y-coordinate of L2: -1
Enter x-coordinate of R2: 2
Enter y-coordinate of R2: -3
Not overlapping