Task-6

### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [1]:
def unique_list(l):
  return list(set(l))

In [4]:
L = [1,2,3,3,3,3,4,5]
unique_list(L)

[1, 2, 3, 4, 5]

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [8]:
def hypen_sorted(s):
  L = sorted(s.split("-"))
  return "-".join(L)

In [9]:
s = 'green-red-yellow-black-white'
hypen_sorted(s)

'black-green-red-white-yellow'

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [12]:
def upper_lower(s):
  ucount = 0
  lcount = 0
  for i in s:
    if i.isupper():
      ucount += 1
    elif i.islower():
      lcount += 1
    else:
      pass
  print("No. of Upper case characters :",ucount)
  print("No. of Lower case Characters :",lcount)

In [13]:
s = 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
upper_lower(s)

No. of Upper case characters : 9
No. of Lower case Characters : 47

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [14]:
def even(L):
  even_list = []
  for i in L:
    if i%2 == 0:
      even_list.append(i)
  return even_list

In [18]:
def even(l):
  L = [i for i in l if i%2==0]
  return L

In [19]:
L = [1, 2, 3, 4, 5, 6, 7, 8, 9]
even(L)

[2, 4, 6, 8]

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [20]:
def perfect(n):
  sum = 0
  for i in range(1,n):
    if n%i == 0:
      sum += i
  if sum == n:
    return 'Perfect'
  else:
    return 'Not Perfect'

In [26]:
def perfect(n):
  L = [i for i in range(1,n) if n%i == 0]
  if sum(L) == n:
    return 'Perfect'
  else:
    return 'Not Perfect'

In [42]:
n = int(input("Enter a number : "))
perfect(n)

Enter a number : 8128

'Perfect'

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [43]:
def concate(*args):
  d = {}
  # print(args)
  for i in args:
    d.update(i)
  return d

In [44]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
concate(dic1,dic2,dic3)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [12]:
def most_occurence(s):
  L = s.split()
  d = {}
  for i in L:
    d[i] = L.count(i)
  m = max(d.values())
  for k,v in d.items():
    if v == m:
      print('{} -> {}'.format(k,v))

In [24]:
s = input("Enter a string : ")
most_occurence(s)

Enter a string : hello how are you i am fine thank you
you -> 2

In [23]:
def most_occurence(s):
  l = s.split()
  d={}
  for i in l:
    d[i]=l.count(i)
  res = {i:j for (i,j) in d.items() if j==max(d.values())}
  for i in res:
    print(i,'->',res[i])

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [47]:
def histogram(list1):
  list1.sort()

  start = (list1[0]//10)*10

  end = list1[-1]
  if end%10!=0:
    end = ((list1[-1]//10)+1)*10

  d = {}
  for i in range(start,end,10):
    key = str(i+1)+'-'+str(i+10)
    d[key] = len([j for j in list1 if j>i and j<=(i+10)])

  return d

In [48]:
list1 = [13,42,15,37,22,39,41,50,67,87,93]
print(histogram(list1))

{'11-20': 2, '21-30': 1, '31-40': 2, '41-50': 3, '51-60': 0, '61-70': 1, '71-80': 0, '81-90': 1, '91-100': 1}

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [50]:
def closest(p,l):
  d = {}
  for i in l:
    d[i] = ((i[0]-p[0])**2+(i[1]-p[1])**2)**0.5
  res = {i:j for (i,j) in d.items() if j==min(d.values())}
  print('Nearest to',p,'is ',end='')
  for i in res:
    print(i,end=' ')

In [53]:
qp = (0,0)
L = [(1,1),(2,2),(3,3),(4,4)]
closest(qp,L)

Nearest to (0, 0) is (1, 1)

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [44]:
def bag_of_word(l):
  d = {}
  res = [(j.lower()).strip(".") for i in l for j in i.split()]
  # print(res)
  for i in res:
    d[i] = res.count(i)
  return d

In [46]:
s1 = 'John likes to watch movies.'
s2 = 'Mary likes movies too.'
s3 = 'Mary also likes to watch football games.'
s = [s1,s2,s3]
bag_of_word(s)

{'john': 1,
 'likes': 3,
 'to': 2,
 'watch': 2,
 'movies': 2,
 'mary': 2,
 'too': 1,
 'also': 1,
 'football': 1,
 'games': 1}

###`Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [65]:
L = [1,2,3,4,5]
M = [4,5,6,6,7]
N = [7,8,9,10,8]
list(map(lambda x:sum(x),zip(L,M,N)))

[12, 15, 18, 20, 20]

In [66]:
list(map(lambda x,y,z:x+y+z,L,M,N))

[12, 15, 18, 20, 20]

###`Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [68]:
list1 = [1,2,3,4,5,6]
list(map(lambda x,i:x**i,list1,range(len(list1))))

[1, 2, 9, 64, 625, 7776]

In [23]:
list1 = [1,2,3,4,5,6]
list(map(lambda x,i:x**i,list1[:len(list1)-1],range(len(list1)-1)))+['-']

[1, 2, 9, 64, 625, '-']

###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [17]:
# s = 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
s = input('Enter string: ')
list(set(filter(lambda x:x.lower() in 'aeiou',s)))

Enter string: MACHine LearnIng

['e', 'I', 'A', 'a', 'i']

`Problem-14`: Use reduce to convert a 2D list to 1D

In [11]:
import functools
from functools import reduce
L = [[1,2,3],[4,5,6],[7,8,9],[10,11,12]]
list(reduce(lambda x,y:x+y,L))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [12]:
[j for i in L for j in i]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

`Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [2]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

In [4]:
L = [i['fname']+' '+i['lname'] for i in employees if i['grade'] == 'highly-skilled']
print(L)

['Neha Singh', 'Abhinav Sharma']

In [6]:
list(map(lambda x:x['fname']+' '+x['lname'],filter(lambda x:x['grade']=='highly-skilled',employees)))

['Neha Singh', 'Abhinav Sharma']