Task 5

# Tuple

###`Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [2]:
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
print(test_list[1][1])

7

In [35]:
t = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13),(7,8),(5,10),(9,10),(10,11)]
res = []
for i in t:
  temp = [i[0]]
  for j in t:
    if i[0] == j[0]:
      temp.append(j[1])
  res.append(tuple(temp))
print(list(set(res)))

[(9, 10), (10, 11), (7, 13, 8), (5, 6, 7, 8, 10), (6, 10)]

In [38]:
t = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13),(8,7)]
res = []
for i in t:
  temp = [i[0]]
  for j in t:
    if i[0] == j[0]:
      temp.append(j[1])
  res.append(tuple(temp))
L = []
for i in res:
  if i not in L:
    L.append(i)
print(L)

[(5, 6, 7, 8), (6, 10), (7, 13), (8, 7)]

In [37]:
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
L = []
for i in test_list:
  t = (i[0],)
  for j in test_list:
    if i[0]==j[0]:
      t = t + (j[1],)
  L.append(t)
print(list(set(L)))

[(5, 6, 7, 8), (6, 10), (7, 13)]

###`Q2:` Multiply Adjacent elements (both side) and take sum of right and left side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [58]:
t = (1, 5, 7, 8, 10)
if len(t)==1:
  print(t[0])
else:
  l = [t[0]*t[1]]
  for i in range(1,len(t)-1):
    l.append(t[i]*t[i-1] + t[i]*t[i+1])
  l.append(t[-1]*t[-2])
  print(tuple(l))

(5, 40, 91, 136, 80)

###`Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [63]:
# t1 = (1,2,3,0)
t2 = (0,1,2,3)
t1 = (0,1,2,3)
if t1 == t2:
  print("Same")
else:
  print("NOT Same")

Same

###`Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [74]:
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b'],13,True]
lcount = scount = tcount = 0
for i in list1:
  if type(i) == list:
    lcount += 1
  elif type(i) == set:
    scount += 1
  elif type(i) == tuple:
    tcount += 1
  else:
    pass
print("List-{}\nSet-{}\nTuples-{}".format(lcount,scount,tcount))

List-2
Set-2
Tuples-1

###`Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [84]:
n = int(input("Enter No of records- "))
l = []
for i in range(n):
  print('Enter details of Student',i+1)
  name = input("Enter Student name- ")
  edu = input("Enter Higher Education- ")
  skill = input("Enter Primary Skill- ")
  year = input("Enter Year of Graduation- ")
  l.append((name,edu,skill,year))
print(l)

print('\nEnter Job Role Requirement')
s = input("Enter Skill- ")
e = input("Enter Higher Education- ")
y = input("Enter Year of Graduation- ")
L = []
for i in l:
  if i[2] == s and i[1] == e and i[3] == y:
    L.append(i)
if L:
  print(L)
else:
  print("No such candidate")

Enter No of records- 2
Enter details of Student 1
Enter Student name- Nora
Enter Higher Education- B.Tech.
Enter Primary Skill- Python
Enter Year of Graduation- 2023
Enter details of Student 2
Enter Student name- Kapil
Enter Higher Education- B.Sc.
Enter Primary Skill- Java
Enter Year of Graduation- 2020
[('Nora', 'B.Tech.', 'Python', '2023'), ('Kapil', 'B.Sc.', 'Java', '2020')]

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.E.
Enter Year of Graduation- 2022
No such candidate

# Set

###`Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [88]:
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]
print(list(set(ar1) & set(ar2) & set(ar3)))

[80, 20]

###`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [95]:
str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
s = list(set(str1))
vowels = ['a','e','i','o','u']
c = 0
for i in s:
  if i.lower() in vowels:
    c += 1
print("No of unique vowels-{}".format(c))

No of unique vowels-6

In [97]:
str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX" # Is AbOUt to START"
vowels = {'a','e','i','o','u','A','E','I','O','U'}
print('No. of unique vowels-',len(set(str1)&vowels))

No. of unique vowels- 6

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [104]:
s = input('Enter string: ')
if len(set(s)) == 2:
  print('Yes')
else:
  print('No')

Enter string: Campusx
No

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [109]:
L = [[1, 2, 2, 4, 3, 6], [5, 1, 3, 4], [9, 5, 7, 1], [2, 4, 1, 3]]
s = set()
for i in L:
  s.update(set(i))
print(list(s))

[1, 2, 3, 4, 5, 6, 7, 9]

In [112]:
a = [[1, 2, 2, 4, 3, 6],[5, 1, 3, 4],[9, 5, 7, 1],[2, 4, 1, 3]]
list(set(i for j in a for i in j))

[1, 2, 3, 4, 5, 6, 7, 9]

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [117]:
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
[i for i in lst1 if i in lst2]

[4, 5, 9, 10]

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [16]:
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5],"Python":[1,2,3,4,5]}
res = {}
for i in test_dict.items():
  res[i[0]] = len(set(i[1]))
print(res)
for i in res.items():
  if i[1] == max(res.values()):
    print(i[0])

{'CampusX': 5, 'is': 4, 'Best': 3, 'Python': 5}
CampusX
Python

In [21]:
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
# test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9]}
d = {}
for i in test_dict:
  d[i] = len(set(test_dict[i]))
{i for (i,j) in d.items() if j == max(d.values())}

{'CampusX'}

### `Q2`: Replace words from Dictionary. Given String, replace itâ€™s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [26]:
test_str = 'CampusX best for DS students.'
# repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}

for i in repl_dict:
  test_str = test_str.replace(i,repl_dict[i])
print(test_str)

CampusX is the best channel for Data-Science students.

In [30]:
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}

L = test_str.split()
for i in repl_dict:
  if i in test_str:
    L[L.index(i)]= repl_dict[i]
print(' '.join(L))

CampusX is the best channel for Data-Science students.

In [29]:
test_str = 'CampusX best for DS students.'
# repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}

L = test_str.split()
res = []
for i in L:
  if i in repl_dict:
    res.append(repl_dict[i])
  else:
    res.append(i)
print(" ".join(res))

CampusX is the best channel for Data-Science students.

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [41]:
test_list = ["DataScience", 3, "is", 8,"python",9]
key_list = ["name", "id","age"]
L = []
for i in range(0,len(test_list),len(key_list)):
  res = {}
  for j in range(len(key_list)):
    res[key_list[j]] = test_list[i+j]
  L.append(res)
print(L)

[{'name': 'DataScience', 'id': 3, 'age': 'is'}, {'name': 8, 'id': 'python', 'age': 9}]

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [44]:
# L = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
L = [('A', 1), ('B', 2), ('C', 3)]
res = {}
for i in L:
  res[i[0]] = [i[1]]
print(res)

{'A': [1], 'B': [2], 'C': [3]}

In [46]:
d = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
# d = [('A', 1), ('B', 2), ('C', 3)]

{i:[dict(d)[i]] for i in dict(d)}

{'akash': [10],
 'gaurav': [12],
 'anand': [14],
 'suraj': [20],
 'akhil': [25],
 'ashish': [30]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [59]:
d = {'c': [3], 'b': [12, 10], 'a': [19, 4]}
# d = {'c': [10, 34, 3]}
res = dict(sorted(d.items()))
for i in res:
  res[i] = sorted(res[i])
print(res)

{'a': [4, 19], 'b': [10, 12], 'c': [3]}

In [60]:
d = {'c': [3], 'b': [12, 10], 'a': [19, 4]}
# d = {'c': [10, 34, 3]}

print(d)
{i:sorted(j) for (i,j) in dict(sorted(d.items())).items()}

{'c': [3], 'b': [12, 10], 'a': [19, 4]}

{'a': [4, 19], 'b': [10, 12], 'c': [3]}

In [61]:
{i:sorted(j) for (i,j) in tuple(sorted(d.items()))}

{'a': [4, 19], 'b': [10, 12], 'c': [3]}