Topics covered:
1. Python output
2. Datatypes
3. Variables
4. Comments
5. Keywords and Identifiers
6. User Input
7. Type Conversion
8. Literals

# 1. Python Output

In [ ]:
# python is case sensitive language
print('Hello World')

Hello World

In [ ]:
Print('Hello World')

NameError: name 'Print' is not defined

In [ ]:
print('salman khan')

salman khan

In [ ]:
print(salman khan)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-3-0713073d8d88>, line 1)

In [ ]:
print(7)

7

In [ ]:
print(4.6)

4.6

In [ ]:
print(True)

True

In [ ]:
print('hello',True,5,8.6)

hello True 5 8.6

In [ ]:
# print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)
print('hello',True,5,8.6,sep='-')

hello-True-5-8.6

In [ ]:
print('hello')
print('world')

hello
world

In [ ]:
print('hello',end='-')
print('world')

hello-world

# 2. Datatypes

Types of Datatypes:

*   Integer
*   Float
*   String
*   Boolean
*   Complex
*   List
*   Tuple
*   Set
*   Dictionary

In [ ]:
# Integer
print(8)
print(1e308) # 1*10^308
print(1e309) # max limit

8
1e+308
inf

In [ ]:
# Decimal/float
print(5.6)
print(1.7e308) # 1.7*10^308
print(1.7e309)

5.6
1.7e+308
inf

In [ ]:
# Boolean
print(True)
print(False)

True
False

In [ ]:
print(true)

NameError: name 'true' is not defined

In [ ]:
# Text/String
print('hello world')

hello world

In [ ]:
# Complex
print(5+9j)
print(type(5+9j))

(5+9j)
<class 'complex'>

In [ ]:
# List
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [ ]:
# Tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [ ]:
# Set
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [ ]:
# Dictionary
print({'name':'salman','gender':'male','age':57})

{'name': 'salman', 'gender': 'male', 'age': 57}

In [ ]:
# type function
type([1,2,3,4,5])

list

variable - container for future use
dynamic typing - where you do not tell datatype of variable , interpreter interprets type of variable automatically given value of the variable
static typing - c/c++/java
dynamic binding - datatype of variable is not fixed
static binding - fixed datatype over entire program

stylish declaration

# 3. Variables

Variable - container for future use

In [ ]:
# Static Vs Dynamic Typing
# Static Vs Dynamic Binding
# stylish declaration techniques

In [ ]:
name = 'salman'
print(name)

salman

In [ ]:
a = 5
b = 6
print(a+b)

11

Dynamic typing - where we don't have to specify variable type, interpreter is smart enough to find it by given value of the variable.

Static typing - have to specify variable type. c/c++/java follows static typing.

In [ ]:
# dynamic typing
a = 5
print(a)

5

In [ ]:
# static typing
int a = 5
print(a)

SyntaxError: invalid syntax (<ipython-input-36-6bb9f0bc90b9>, line 2)

Dynamic binding - type of variable is not fixed - it can change as per value.

Static binding - type of variable is fixed over entire program.

In [ ]:
# dynamic binding - variable is flexible, not retricted to any type
a = 5
print(a)
a = 'salman'
print(a)

5
salman

In [ ]:
# static binding - supported in c/c++/java
int a = 5

Python variable follows dynamic typing and dynamic binding.

In [ ]:
# stylish declaration
a,b,c = 5,6,7
print(a,b,c)

5 6 7

In [ ]:
a=b=c=9
print(a,b,c)

9 9 9

# 4. Comments

In [ ]:
# this is a comment
# second line
a = 4
b = 5  # comment
print(a+b)

9

# 5. Keywords and Identifiers

Keywords - reserved words. There are 33 keywords in python.

In [41]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

Identifiers - names given to variables, functions, classes, modules

Rules for identifiers:


*   Can't start with a digit
*   Can't use special characters except underscore(_)
*   Identifiers cannot be keywords.

In [45]:
# can't start with a digit
1name = 'salman'
print(1name)

SyntaxError: invalid decimal literal (<ipython-input-45-bed8c6effeaf>, line 2)

In [46]:
name1 = 'salman'
print(name1)

salman

In [47]:
# can't use special char except underscore(_)
first-name = 'salman'
print(first-name)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-47-47fd7ffb1fd7>, line 2)

In [48]:
first_name = 'salman'
print(first_name)

salman

In [49]:
_ = 'nora'
print(_)

nora

# 6. User Input

In [50]:
# static vs dynamic apps
input()

hello

'hello'

In [51]:
input('enter your name: ')

enter your name: salman

'salman'

In [53]:
# program to add 2 variable given by user
a = input('enter first number: ')
b = input('enter second number: ')
print(type(a),type(b))
print(a+b)

enter first number: 20
enter second number: 30
<class 'str'> <class 'str'>
2030

String is universal format, any datatype can store in string format that's why input() stores values in string format.

# 7. Type conversion

In [63]:
# implicit and explicit
# implicit - automatic
print(5+5.6)
print(type(5),type(5.6))

print(4+'4')

10.6
<class 'int'> <class 'float'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [61]:
# explicit - manual
# str to int
print(type(int('4')))

# int to str
print(str(5))

# int to float
print(float(4))

<class 'int'>
5
4.0

In [56]:
int(4+5j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [62]:
# program to add 2 variable given by user
a = input('enter first number: ')
b = input('enter second number: ')
result = int(a)+int(b)
print(result)
print(type(a))

enter first number: 20
enter second number: 30
50
<class 'str'>

Python data conversion operation, doesn't change its original value, it creates new value in memory.

In [64]:
a = int(input('enter first number: '))
b = int(input('enter second number: '))
result = a+b
print(result)
print(type(a))

enter first number: 20
enter second number: 30
50
<class 'int'>

# 8. Literals

variable - container

literal - value stored in a container

In [66]:
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5
float_2 = 1.5e2 # 1.5 * 10^2
float_3 = 1.5e-3 # 1.5 * 10^-3

#Complex Literal
x = 3.14j

print(a, b, c, d)
print(float_1, float_2,float_3)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

In [67]:
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code.
ðŸ˜€ðŸ˜†ðŸ¤£
raw \n string

In [68]:
a = True + 4
b = False + 10

print("a:", a)
print("b:", b)

a: 5
b: 10

In [65]:
a = None
print(a)
print(type(a))

None
<class 'NoneType'>

In [69]:
k
a = 5
b = 6
print('Program exe')

NameError: name 'k' is not defined

In [70]:
# None is used to represent null value. To declare empty variable.
k = None
a = 5
b = 6
print('Program exe')

Program exe