Topics covered:

*   Tuples
*   Sets
*   Dictionary

# Tuples

A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics

- Ordered
- Unchangeble
- Allows duplicate

### Plan of attack

- Creating a Tuple
- Accessing items
- Editing items
- Adding items
- Deleting items
- Operations on Tuples
- Tuple Functions

### Creating Tuples

In [10]:
# empty tuple
t1 = ()
print(t1)

# single item tuple
t2 = (2)
print(t2)
print(type(t2))
t3 = (2,)
print(t3)
print(type(t3))
t4 = ('hello',)
print(t4)

# homogeneous
t5 = (1,2,3)
print(t5)

# hetro
t6 = (1,2,True,[4,5],'hello')
print(t6)

# tuple within tuple
t7 = (1,2,(4,5),(6,7,(8,9)))
print(t7)

# using type conversion
t8 = tuple('hello')
print(t8)

()
2
<class 'int'>
(2,)
<class 'tuple'>
('hello',)
(1, 2, 3)
(1, 2, True, [4, 5], 'hello')
(1, 2, (4, 5), (6, 7, (8, 9)))
('h', 'e', 'l', 'l', 'o')

### Accessing Items

- Indexing
- Slicing

In [12]:
t = (1,2,3,4)
print(t)
print(t[2])
print(t[-1])

(1, 2, 3, 4)
3
4

In [13]:
t = (1,2,3,4)
print(t[1:4])
print(t[::-1])

(2, 3, 4)
(4, 3, 2, 1)

In [14]:
t = (1,2,3,(4,5))
print(t[-1][0])

4

### Editing items

In [16]:
t = (1,2,3,4)
print(t)
t[1] = 10
print(t)

# tuple is immutable

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

### Adding items

In [17]:
t = (1,2,3,4)
print(t)
# not possible - immutable

(1, 2, 3, 4)

### Deleting items

Deletion of entire tuple is possible, but deletion of its elements is not due to immutable nature.

In [18]:
t = (1,2,3,4)
print(t)
del t   # deleted entire tuple t
print(t)

(1, 2, 3, 4)

NameError: name 't' is not defined

In [19]:
t = (1,2,3,4)
del t[-1]    # not possible - immutable

TypeError: 'tuple' object doesn't support item deletion

In [20]:
t = (1,2,3,4,5)

print(t[-1:-4:-1])
print(t[-3:])

(5, 4, 3)
(3, 4, 5)

### Operations on Tuples
*   Arithmetic (+,*)
*   Membership (in,not in)
*   Loop/iteration

In [21]:
# Arithmetic (+,*)
t1 = (1,2,3)
t2 = (4,5,6)
print(t1+t2)
print(t1*3)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [23]:
# Membership (in, not in)
t = (1,2,3,4)
print(1 in t)
print(5 in t)
print(4 not in t)

True
False
False

In [24]:
# loop/iteration
t = (1,2,3,4)
for i in t:
  print(i)

1
2
3
4

### Tuple Functions
*   len,sum,min,max,sorted
*   count
*   index

In [36]:
# len,sum,min,max,sorted
t = (1,2,-2,2,5,6)

print(len(t))
print(sum(t))
print(min(t))
print(max(t))
print(sorted(t))
print(sorted(t,reverse=True))

6
14
-2
6
[-2, 1, 2, 2, 5, 6]
[6, 5, 2, 2, 1, -2]

In [37]:
# count
t = (1,2,3,3,4,5)
print(t.count(3))
print(t.count(50))

2
0

In [38]:
# index - if value is present -> gives index of first occurence, otherwise gives error.
t = (1,2,3,4,5,2)
print(t.index(3))
print(t.index(2))

2
1

In [33]:
print(t.index(50))

ValueError: tuple.index(x): x not in tuple

### Difference between Lists and Tuples

- Syntax
- Mutability
- Speed - Tuples are generally faster than Lists. Generally immutable datatypes are faster than mutable datatypes.
- Memory - Tuples occupy less memory in comparsion to List. Generally immutable datatypes takes less memory than mutable datatypes.
- Built in functionality - List has more built in functionality.
- Error prone - List are more prone to error, due its mutable nature.
- Usability

In [1]:
import time

L = list(range(100000000))
T = tuple(range(100000000))

start = time.time()
for i in L:
  i*5
print('List time',time.time()-start)

start = time.time()
for i in T:
  i*5
print('Tuple time',time.time()-start)

List time 10.386075973510742
Tuple time 9.782715320587158

In [2]:
import sys

L = list(range(1000))
T = tuple(range(1000))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List size 8056
Tuple size 8040

In [3]:
a = [1,2,3]
b = a

a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

![image.png]()

In [4]:
a = (1,2,3)
b = a

a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

![image.png]()

![image.png]()

### Why use tuple?
For Read-only application we prefer tuple, such as college website. -> to display result and don't edit.

### Special Syntax - Tuple unpacking

In [10]:
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [11]:
a,b = (1,2,3)
print(a,b)

ValueError: too many values to unpack (expected 2)

In [14]:
a,b,c = (1,2)
print(a,b,c)

ValueError: not enough values to unpack (expected 3, got 2)

In [12]:
a = 1
b = 2
a,b = b,a
print(a,b)

2 1

In [15]:
a,b,*others = (1,2,3,4,5)
print(a,b)
print(others)

1 2
[3, 4, 5]

### Zipping Tuples

In [16]:
# zipping tuples
a = (1,2,3,4)
b = (5,6,7,8)

print(zip(a,b))
print(tuple(zip(a,b)))

<zip object at 0x7ff8e4f53680>
((1, 5), (2, 6), (3, 7), (4, 8))

# Sets

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

Characterstics:
- Unordered
- Mutable
- No Duplicates
- Can't contain mutable data types

### Creating Sets

In [20]:
# empty
s1 = {}     # this will create dictionary
print(s1)
print(type(s1))

s2 = set()
print(s2)
print(type(s2))

# 1D and 2D
s3 = {1,2,3}
print(s3)

# s4 = {1,2,3,{4,5,6}}  # 2D set is not possible, mutable object not possible in set
# print(s4)

# homo and hetro
s5 = {1,2,3,5,6}
print(s5)
s6 = {1,'hello',True,(3,5)}   # Python consider True as 1
print(s6)

# using type conversion
s7 = set([1,2,3,4,5,6])
print(s7)

# duplicates not allowed
s8 = {1,1,2,2,3,3}
print(s8)

# set can't have mutable items
s9 = {1,2,[3,4]}
print(s9)

{}
<class 'dict'>
set()
<class 'set'>
{1, 2, 3}
{1, 2, 3, 5, 6}
{'hello', 1, (3, 5)}
{1, 2, 3, 4, 5, 6}
{1, 2, 3}

TypeError: unhashable type: 'list'

In [18]:
s4 = {1,2,3,{4,5,6}}  # mutable object not possible in set
print(s4)

TypeError: unhashable type: 'set'

In [19]:
# sets are unordered
s1 = {1,2,3}
s2 = {3,2,1}

print(s1==s2)

True

### Accessing Items

Accessing items from sets is **NOT** possible.

Indexing and slicing is not allowed in sets -> due to its unordered nature.

In [21]:
s = {1,2,3,4,5}
print(s[0])

TypeError: 'set' object is not subscriptable

In [22]:
s = {1,2,3,4,5}
print(s[0:3])

TypeError: 'set' object is not subscriptable

### Editing Items

Edtitng items from sets is **NOT** possible -> due to its unordered nature.

In [23]:
s = {1,2,3,4,5}
s[0] = 100

TypeError: 'set' object does not support item assignment

In [ ]:
# hashing controls indexing in sets

### Adding Items
*   add
*   update

In [24]:
# add and update
s = {1,2,3,4}

# add
s.add(5)    # to add single item
print(s)

# update
s.update([6,5,3,7,8])   # to add multiple items -> send them in List format
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}

### Deleting Items

*   del
*   discard
*   remove
*   pop
*   clear

In [25]:
# del - deletion of entire set is possible. Of a particular item or slice is not.
s = {1,2,3,4,5}
print(s)
del s
print(s)

{1, 2, 3, 4, 5}

NameError: name 's' is not defined

In [26]:
s = {1,2,3,4,5}
del s[0]
print(s)

TypeError: 'set' object doesn't support item deletion

In [27]:
# discard - delete item which we pass, if not present return set, no error
s = {1,2,3,4,5}
s.discard(3)
print(s)
s.discard(6)
print(s)

{1, 2, 4, 5}
{1, 2, 4, 5}

In [28]:
# remove  -> delete item which we pass, if not present throws error
s = {1,2,3,4,5}
s.remove(5)
print(s)
s.remove(10)
print(s)

{1, 2, 3, 4}

KeyError: 10

In [29]:
# pop - delete any random item
s = {1,2,3,4,5}
s.pop()
print(s)

{2, 3, 4, 5}

In [30]:
# clear - deletes all items -> empty set
s = {1,2,3,4,5}
s.clear()
print(s)

set()

### Set Operation
*   Union
*   Intersection
*   Difference
*   Symmetric Difference
*   Membership
*   Iteration

In [8]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# union (|)
print(s1 | s2)

# intersection (&)
print(s1 & s2)

# difference (-)
print(s1-s2)
print(s2-s1)

# symmetric difference (^)
print(s1^s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 6, 7, 8}

In [10]:
# Membership - in,not in
print(1 in s1)
print(5 not in s1)

True
False

In [9]:
# Iteration/Loop
for i in s1:
  print(i)

1
2
3
4
5

### Set Functions
*   len,min,max,sum,sorted
*   union,update
*   intersection,intersection_update
*   difference,difference_update
*   symmetric_difference,symmetric_difference_update
*   isdisjoint, issubset, issuperset
*   copy

In [11]:
# len,min,max,sum,sorted
s = {1,3,2,4,5}

print(len(s))
print(min(s))
print(max(s))
print(sum(s))
print(sorted(s))
print(sorted(s,reverse=True))

5
1
5
15
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [15]:
# union / update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

print(s1.union(s2))
print(s1)

s1.update(s2)    # s1 = s1 | s2
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [16]:
# intersection / intersection_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# s1 & s2
print(s1.intersection(s2))

s1.intersection_update(s2)  # s1 = s1 & s2
print(s1)
print(s2)

{4, 5}
{4, 5}
{4, 5, 6, 7, 8}

In [17]:
# difference / difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# s1 - s2
print(s1.difference(s2))

s1.difference_update(s2)  # s1 = s1 - s2
print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}
{4, 5, 6, 7, 8}

In [18]:
# symmetric_difference / symmetric_difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# s1 ^ s2
print(s1.symmetric_difference(s2))

s1.symmetric_difference_update(s2)  # s1 = s1 ^ s2
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [19]:
# isdisjoint/issubset/issuperset
s1 = {1,2,3,4}
# s2 = {7,8,5,6}
s2 = {2,3}

print(s1.isdisjoint(s2))
print(s1.issubset(s2))
print(s2.issubset(s1))
print(s1.issuperset(s2))
print(s2.issuperset(s1))

False
False
True
True
False

In [20]:
# copy
s1 = {1,2,3,4}
s2 = s1.copy()

print(s1)
s1.add(5)
print(s1)
print(s2)

{1, 2, 3, 4}
{1, 2, 3, 4, 5}
{1, 2, 3, 4}

### Frozenset
Frozen set is just an immutable version of a Python set object

In [21]:
# create frozenset
fs = frozenset([1,2,3,4,5])
print(fs)
print(type(fs))

frozenset({1, 2, 3, 4, 5})
<class 'frozenset'>

#### What works and what does not on frozenset
works -> all read functions <br>does't work -> write operations

In [22]:
fs1 = frozenset([1,2,3])
fs2 = frozenset([3,4,5])

fs1 | fs2

frozenset({1, 2, 3, 4, 5})

In [23]:
# When to use
# 2D sets
fs = frozenset([1,2,frozenset([3,4])])
fs

frozenset({1, 2, frozenset({3, 4})})

### Set Comprehension

In [24]:
{i for i in range(1,11)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [25]:
{i for i in range(1,11) if i>5}

{6, 7, 8, 9, 10}

In [26]:
{i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}

# Dictionary

Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as map or assosiative arrays.

```
dict = { 'name' : 'nitish' , 'age' : 33 , 'gender' : 'male' }
```

Characterstics:

- Mutable
- Indexing has no meaning
- keys can't be duplicated
- keys can't be mutable items - can't be list,set,dictionary

### Create Dictionary

In [28]:
# empty dictionary
d1 = {}
print(d1)

# 1D dictionary - homo -> keys are of same type
d2 = {'name':'nora','gender':'female'}
print(d2)

# with mixed keys
d3 = {(1,2,3):4,'hello':5}
print(d3)

# 2D dictionary -> JSON
s = {
    'name':'nitish',
    'clg':'iet',
    'sem':2,
    'subjects':{
        'maths':54,
        'dsa':65,
        'english':40
    }
}
print(s)

# using sequence and dict function
d4 = dict([(1,1),(2,2),(3,3)])
print(d4)

d5 = dict([('hello','world'),((1,2,3),2),(3,3)])
print(d5)

# duplicate keys
d6 = {'name':'manish','name':'kiran'}   # duplicate keys are not allowed - it will override
print(d6)

# immutable items as keys
d7 = {'name':'nitish',(1,2,3):2}
print(d7)

{}
{'name': 'nora', 'gender': 'female'}
{(1, 2, 3): 4, 'hello': 5}
{'name': 'nitish', 'clg': 'iet', 'sem': 2, 'subjects': {'maths': 54, 'dsa': 65, 'english': 40}}
{1: 1, 2: 2, 3: 3}
{'hello': 'world', (1, 2, 3): 2, 3: 3}
{'name': 'kiran'}
{'name': 'nitish', (1, 2, 3): 2}

In [29]:
# mutable items as keys
d8 = {'name':'nitish',[1,2,3]:2}
print(d8)

TypeError: unhashable type: 'list'

### Accessing items
Indexing and slicing is not possible in dictionary.

By using below ways we can access dictionary items:
*   [ ]
*   get

In [32]:
my_dict = {'name': 'Jack', 'age': 26}
print(my_dict[0])

# Indexing and slicing is not possible in dictionary

KeyError: 0

In [33]:
my_dict = {'name': 'Jack', 'age': 26}

# []
print(my_dict['name'])
print(my_dict['age'])

# get
print(my_dict.get('name'))

print(s)
print(s['subjects']['dsa'])

Jack
26
Jack
{'name': 'nitish', 'clg': 'iet', 'sem': 2, 'subjects': {'maths': 54, 'dsa': 65, 'english': 40}}
65

### Adding key-value pair

```
dictionary[new_key] = value
```

In [35]:
d2 = {'name':'nora','gender':'female'}
d2['age'] = 25
print(d2)

{'name': 'nora', 'gender': 'female', 'age': 25}

In [37]:
print(s)
s['subjects']['network'] = 80
print(s)

{'name': 'nitish', 'clg': 'iet', 'sem': 2, 'subjects': {'maths': 54, 'dsa': 65, 'english': 40}}
{'name': 'nitish', 'clg': 'iet', 'sem': 2, 'subjects': {'maths': 54, 'dsa': 65, 'english': 40, 'network': 80}}

### Remove key-value pair

*   pop
*   popitem
*   del
*   clear

In [41]:
d = {'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
print(d)

# pop - removes passed key-value pair, if not present throws error
d.pop(3)
print(d)

d.pop('height')
print(d)

{'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
{'name': 'nitish', 'age': 32, 'gender': 'male', 'weight': 72}

KeyError: 'height'

In [43]:
# popitem - removes last key-value pair
d = {'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
print(d)
d.popitem()
print(d)

{'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
{'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male'}

In [44]:
# del - deletion of a key-value pair or of entire dictionary is possible
d = {'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
print(d)
del d[3]   # removes key-3
print(d)
del d     # deletes entire dictionary
print(d)

{'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
{'name': 'nitish', 'age': 32, 'gender': 'male', 'weight': 72}

NameError: name 'd' is not defined

In [45]:
# clear - deletes all key-value pairs -> results empty dictionary
d = {'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
print(d)
d.clear()
print(d)

{'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
{}

In [47]:
print(s)
del s['subjects']['maths']
print(s)

{'name': 'nitish', 'clg': 'iet', 'sem': 2, 'subjects': {'maths': 54, 'dsa': 65, 'english': 40, 'network': 80}}
{'name': 'nitish', 'clg': 'iet', 'sem': 2, 'subjects': {'dsa': 65, 'english': 40, 'network': 80}}

### Editing key-value pair

```
dictionary[exiting_key] = new_value
```

In [52]:
print(s)
s['sem'] = 3
print(s)

s['subjects']['english'] = 70
print(s)

{'name': 'nitish', 'clg': 'iet', 'sem': 3, 'subjects': {'dsa': 65, 'english': 60, 'network': 80}}
{'name': 'nitish', 'clg': 'iet', 'sem': 3, 'subjects': {'dsa': 65, 'english': 60, 'network': 80}}
{'name': 'nitish', 'clg': 'iet', 'sem': 3, 'subjects': {'dsa': 65, 'english': 70, 'network': 80}}

### Dictionary Operations

- Membership
- Iteration

In dictionary, everything works on keys.

In [53]:
print(s)

{'name': 'nitish', 'clg': 'iet', 'sem': 3, 'subjects': {'dsa': 65, 'english': 70, 'network': 80}}

In [56]:
# membership - in/not in
print('nitish' in s)   # checking if key 'nitish' is present in s
print('name' in s)

False
True

In [57]:
# iteration / loop
d = {'name':'nora','gender':'female','age':25}
print(d)

for i in d:
  print(i)

{'name': 'nora', 'gender': 'female', 'age': 25}
name
gender
age

In [58]:
for i in d:
  print(i,d[i])

name nora
gender female
age 25

### Dictionary Functions

*   len,min,max,sorted
*   items,keys,values
*   update

In [59]:
# len,min,max,sorted
d = {'name':'nora','gender':'female','age':25}
print(d)

print(len(d))    # no. of count key-values pairs
print(max(d))
print(min(d))
print(sorted(d))
print(sorted(d,reverse=True))

{'name': 'nora', 'gender': 'female', 'age': 25}
3
name
age
['age', 'gender', 'name']
['name', 'gender', 'age']

In [61]:
# items,keys,values
d = {'name':'nora','gender':'female','age':25}
print(d)

print(d.items())
print(d.keys())
print(d.values())

{'name': 'nora', 'gender': 'female', 'age': 25}
dict_items([('name', 'nora'), ('gender', 'female'), ('age', 25)])
dict_keys(['name', 'gender', 'age'])
dict_values(['nora', 'female', 25])

In [62]:
# update
a = {1:2,2:3,3:4}
b = {3:7,4:5,5:6}
a.update(b)
print(a)

{1: 2, 2: 3, 3: 7, 4: 5, 5: 6}

### Dictionary Comprehension
![image.png]()

In [64]:
# print 1st 10 numbers and their squares
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [68]:
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
print(distances.items())

# using existing dict -> convert distance km to mile
{key:value*0.62 for (key,value) in distances.items()}

dict_items([('delhi', 1000), ('mumbai', 2000), ('bangalore', 3000)])

{'delhi': 620.0, 'mumbai': 1240.0, 'bangalore': 1860.0}

In [69]:
# using zip
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

dict(zip(days,temp_C))

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [70]:
{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [72]:
# using if condition - product stock is not zero
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

{key:value for (key,value) in products.items() if value!=0}

{'phone': 10, 'charger': 32}

In [80]:
# Nested Comprehension
# print tables of number from 2 to 4

{i:{j*i for j in range(1,11)} for i in range(2,5)}

{2: {2, 4, 6, 8, 10, 12, 14, 16, 18, 20},
 3: {3, 6, 9, 12, 15, 18, 21, 24, 27, 30},
 4: {4, 8, 12, 16, 20, 24, 28, 32, 36, 40}}

In [81]:
{i:{j:j*i for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}