Topics covered:

*   OOP -> Object Oriented Programming

# Object Oriented Programming

In [1]:
L = [1,2,3]
L.upper()

AttributeError: 'list' object has no attribute 'upper'

In [2]:
s = 'hello'
s.append('k')

AttributeError: 'str' object has no attribute 'append'

Everything in Python is an **object**.

OOP allows **generality to specificity**. Specific for particular application and uses/creates datatype as per application.

The main benefit of OOP is - It allows programmer to create their own datatypes.

**OOP Principles:**

*   Class
-   Object
*   Encapsulation
-   Polymorphism
-   Abstraction
-   Inheritance

### Class

Class is a blueprint. Set of rules which its object follows.

In [3]:
L = [1,2,3]
print(type(L))

<class 'list'>

In [4]:
L.upper()

AttributeError: 'list' object has no attribute 'upper'

Every datatype in python is class and when we create variable of that datatype, we create object of that class.

Class contains:

*   Attribute - Data or property
-   Functions - methods or behavior

### Object

Object is an instance of a class.
```
#syntax to create object
objectname = classname()
```

In [5]:
# object literal
L = [1,2,3]
L

[1, 2, 3]

In [6]:
L = list()
L

[]

In [7]:
s = str()
s

''

In [ ]:
# Pascal case - use for class name

# HelloWorld
# MyAtm
# MyFirstClass

Types of classes:

*   Built-in class - all datatype classes
*   User-defined class

In [8]:
class Atm:

  # constructor
  def __init__(self):
    self.pin = ''
    self.balance = 0

In [9]:
obj = Atm()

In [11]:
print(type(obj))

<class '__main__.Atm'>

In [13]:
obj.pin

''

In [26]:
# Atm class
class Atm:

  # constructor - special method
  def __init__(self):
    self.pin = ''
    self.balance = 0
    self.menu()

  # menu - to display all options
  def menu(self):
    user_input = input("""
    Hi how can I help you?
    1. Press 1 to create pin
    2. Press 2 to change pin
    3. Press 3 to check balance
    4. Press 4 to withdraw
    5. Press anything else to exit
    """)

    if user_input == '1':
      self.create_pin()
    elif user_input == '2':
      self.change_pin()
    elif user_input == '3':
      self.check_balance()
    elif user_input == '4':
      self.withdraw()
    else:
      # exit
      pass

  # create_pin -> to create pin
  def create_pin(self):
    user_pin = input('Enter your pin: ')
    self.pin = user_pin

    user_balance = int(input('Enter your balance: '))
    self.balance = user_balance
    print('Pin created successfully')
    self.menu()

  # change_pin -> to update pin
  def change_pin(self):
    old_pin = input('Enter old pin: ')
    if old_pin == self.pin:
      new_pin = input('Enter new pin: ')
      self.pin = new_pin
      print('Pin changed successfully')
    else:
      print('Invalid pin')
    self.menu()

  # check_balance -> to check balance
  def check_balance(self):
    user_pin = input('Enter your pin: ')
    if user_pin == self.pin:
      print('Your balance:',self.balance)
    else:
      print('Invalid pin')
    self.menu()

  # withdraw -> to withdraw amount
  def withdraw(self):
    user_pin = input('Enter your pin: ')
    if user_pin == self.pin:
      amount = int(input('Enter amount to withdraw: '))
      if amount <= self.balance:
        self.balance -= amount
        print('Amount withdrawn successfully')
      else:
        print('Insufficient balance')
    else:
      print('Invalid pin')
    self.menu()

In [27]:
obj = Atm()

    Hi how can I help you?
    1. Press 1 to create pin
    2. Press 2 to change pin
    3. Press 3 to check balance
    4. Press 4 to withdraw
    5. Press anything else to exit
    1
Enter your pin: 1234
Enter your balance: 10000
Pin created successfully

    Hi how can I help you?
    1. Press 1 to create pin
    2. Press 2 to change pin
    3. Press 3 to check balance
    4. Press 4 to withdraw
    5. Press anything else to exit
    2
Enter old pin: 3245
Invalid pin

    Hi how can I help you?
    1. Press 1 to create pin
    2. Press 2 to change pin
    3. Press 3 to check balance
    4. Press 4 to withdraw
    5. Press anything else to exit
    2
Enter old pin: 1234
Enter new pin: 4567
Pin changed successfully

    Hi how can I help you?
    1. Press 1 to create pin
    2. Press 2 to change pin
    3. Press 3 to check balance
    4. Press 4 to withdraw
    5. Press anything else to exit
    3
Enter your pin: 4567
Your balance: 10000

    Hi how can I help you?
    1. Press 1 to create pin
    2. Press 2 to change pin
    3. Press 3 to check balance
    4. Press 4 to withdraw
    5. Press anything else to exit
    4
Enter your pin: 4567
Enter amount to withdraw: 15000
Insufficient balance

    Hi how can I help you?
    1. Press 1 to create pin
    2. Press 2 to change pin
    3. Press 3 to check balance
    4. Press 4 to withdraw
    5. Press anything else to exit
    4
Enter your pin: 4567
Enter amount to withdraw: 8000
Amount withdrawn successfully

    Hi how can I help you?
    1. Press 1 to create pin
    2. Press 2 to change pin
    3. Press 3 to check balance
    4. Press 4 to withdraw
    5. Press anything else to exit
    3
Enter your pin: 4567
Your balance: 2000

    Hi how can I help you?
    1. Press 1 to create pin
    2. Press 2 to change pin
    3. Press 3 to check balance
    4. Press 4 to withdraw
    5. Press anything else to exit
    9

#### Methods vs Functions

*   Methods -> function inside class
*   Functions -> function outside class

In [ ]:
L = [1,2,3,4,5]
len(L)        # function (len) -> because it is outside list class
L.append(6)   # method (append) -> because it is inside list class

#### Class diagram

'+' is for public attributes/methods -> visible outside class<br>
'-' is for private attributes/methods -> not visible outside class

![image.png]()

### Magic methods aka Dunder methods

Magic methods are special methods which has some superpower.

There are more than 100 magic methods.

```
#syntax for magic method:
__methodname__()
```

#### 1. Constructor

Constructor is a special method that is called when an object is created. No need to call it explicitly.

```
__init__()
```



It is used to initialize the object's properties and perform any necessary setup/configuration related codes. -> where no need to rely on users.

*   Cannot rename constructor.
*   Only one constructor is possible in a class.

In [1]:
class Temp:
  def __init__(self):
    print("Constructor called")

In [2]:
obj = Temp()

Constructor called

### Self

Self is current object. (the object itself).
We can name it as per our use.

**Why we need Self?**

OOP golden rule is ONLY object can access or communicate with attributes and class methods.

To establish the communication between different methods or method with attributes in class, we need object of class inside the class. That's why we are using Self.

In [3]:
class Demo:

  def __init__(self):
    print(id(self))

  def m():  # method is not receiving self  -> # def m(self)
    print('Inside method m')

In [4]:
obj = Demo()

135595425072080

In [5]:
print(id(obj))

135595425072080

In [6]:
obj.m()  # obj is given as argument in m but method is not receiving it

TypeError: Demo.m() takes 0 positional arguments but 1 was given

**Creating class for Fraction datatype**

In [31]:
class Fraction:

  # parameterized constructor - which needs arguments while creating class object
  def __init__(self,x,y):
    self.num = x
    self.den = y

  # __str__ special method - when we print object this method will trigger -> code here how to represent object
  def __str__(self):
    return '{}/{}'.format(self.num,self.den)

  # __add__ - special method - triggers when gets + operand between two objects
  def __add__(self,other):
    new_num = self.num*other.den + self.den*other.num
    new_den = self.den*other.den
    return '{}/{}'.format(new_num,new_den)

   # __sub__ - special method - triggers when gets - operand between two objects
  def __sub__(self,other):
    new_num = self.num*other.den - self.den*other.num
    new_den = self.den*other.den
    return '{}/{}'.format(new_num,new_den)

  # __mul__ - special method - triggers when gets * operand between two objects
  def __mul__(self,other):
    new_num = self.num*other.num
    new_den = self.den*other.den
    return '{}/{}'.format(new_num,new_den)

  # __truediv__ - special method - triggers when gets / operand between two objects
  def __truediv__(self,other):
    new_num = self.num*other.den
    new_den = self.den*other.num
    return '{}/{}'.format(new_num,new_den)

  def convert_to_decimal(self):
    return self.num/self.den

In [16]:
fr1 = Fraction()

TypeError: Fraction.__init__() missing 2 required positional arguments: 'x' and 'y'

In [25]:
fr1 = Fraction(1,2)

In [23]:
print(fr1)   # without __str__

<__main__.Fraction object at 0x7b52c51d08b0>

In [26]:
print(fr1) # after adding __str__ in Fraction class

1/2

In [32]:
fr1 = Fraction(3,4)
fr2 = Fraction(1,2)

In [29]:
print(fr1+fr2)   # before adding __add__ in class

TypeError: unsupported operand type(s) for +: 'Fraction' and 'Fraction'

In [30]:
s1 = {1,2,3}
s2 = {4,5,6}
s1+s2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [33]:
print(fr1+fr2)
print(fr1-fr2)
print(fr1*fr2)
print(fr1/fr2)

10/8
2/8
3/8
6/4

In [34]:
fr1 = Fraction(3,4)
fr1.convert_to_decimal()

0.75