Topics covered:

*   Loops (continued)
*   Strings

### Sequence sum

1/1! + 2/2! + 3/3! + ...

In [ ]:
import math
n = int(input('Enter n: '))
sum = 0
for i in range(1,n+1):
  sum += i/math.factorial(i)
print(sum)

Enter n: 5
2.708333333333333

In [ ]:
math.factorial(5)

120

In [ ]:
n = int(input('Enter n: '))
sum = 0
fact = 1
for i in range(1,n+1):
  fact *= i
  sum += i/fact
print(sum)

Enter n: 5
2.708333333333333

# Nested Loops

In [ ]:
# Examples -> unique pairs
for i in range(1,5):
  for j in range(1,5):
    print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

### Pattern 1


*** <br>
**** <br>
***<br>

In [ ]:
n = int(input('Enter n: '))
for i in range(1,n+1):
  for j in range(1,i+1):
    print('*',end='')
  print()

Enter n: 5
*
**
***
****
*****

### Pattern 2

1<br>
121<br>
12321<br>
1234321<br>

In [ ]:
n = int(input('Enter n: '))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end='')
  for k in range(i-1,0,-1):
    print(k,end='')
  print()

Enter n: 5
1
121
12321
1234321
123454321

# Loop Control Statement

- Break
- Continue
- Pass

In [8]:
# break
for i in range(1,10):
  if i == 5:
    break
  print(i)

1
2
3
4

In [11]:
# Program: prime numbers between given range
lrange = int(input('Enter lower range: '))
urange = int(input('Enter upper range: '))
print('Prime Numbers: ',end='')
for i in range(lrange,urange+1):
  for j in range(2,i):
    if i%j == 0:
      break
  else:
    print(i,end=' ')

Enter lower range: 1
Enter upper range: 100
Prime Numbers: 1 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [12]:
# continue
for i in range(1,10):
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7
8
9

In [13]:
# pass
for i in range(1,10):
  pass

# Strings

Strings are sequence of Characters.

In Python specifically, strings are a sequence of Unicode Characters. [Refer](https://docs.python.org/3/howto/unicode.html)

- Creating Strings
- Accessing Strings
- Adding Chars to Strings
- Editing Strings
- Deleting Strings
- Operations on Strings
- String Functions

## Creating Strings

In [15]:
s = "hello"
s = 'hello'
# for multi-line strings
s = '''hello'''
s = """hello"""
s = str('hello')
print(s)

hello

In [20]:
'it's a beautiful day'

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-20-7dec6680e147>, line 1)

In [16]:
"it's raining outside"

"it's raining outside"

## Accessing Substrings from a String

Indexing

In [27]:
# positive indexing - left to right starts with 0
s = "hello world"
print(s[4])

o

In [28]:
print(s[30])

IndexError: string index out of range

In [19]:
# negative indexing - right to left starts with -1
s = 'hello world'
print(s[-1])
print(s[-3])

d
r

Slicing

```
slicing: s[start_point : end_point(not included): stepsize]
```

In [30]:
# slicing
s = 'hello world'
print(s[1:5])
print(s[1:])
print(s[:5])
print(s[:])
print(s[::2])
print(s[::-1])
print(s[-5:-1])
print(s[-5:-1:2])
print(s[-1:-5:-2])

ello
ello world
hello
hello world
hlowrd
dlrow olleh
worl
wr
dr

In [8]:
print(s[-5:])
print(s[-1:-6:-1])

world
dlrow

In negative indexing, to reverse a string, starting point should be greater than ending point.

## Editing and Deleting in Strings

In [6]:
s = 'hello world'
s[0] = 'H'
print(s)

# Python strings are immutable - not editable

TypeError: 'str' object does not support item assignment

In [2]:
# deletion
s = 'hello world'
del s  # deletion of s string
print(s)

NameError: name 's' is not defined

In [5]:
s = 'hello world'
del s[1:5:2]
print(s)

# deletion of full string is possible, partial deletion is not possible (immutable/not editable)

TypeError: 'str' object does not support item deletion

## Operations on Strings

- Arithmetic Operations
- Relational Operations
- Logical Operations
- Loops on Strings
- Membership Operations

In [17]:
# Arithmetic operations  - only (+ , *) are applicable
print('delhi' + 'mumbai')
print('delhi ' * 3)

delhimumbai
delhi delhi delhi

In [16]:
print('-'*100)

----------------------------------------------------------------------------------------------------

In [14]:
# Relational operations  - all are ( > , < , = , !) applicable
print('delhi' > 'mumbai')
print('delhi' < 'mumbai')
print('delhi' == 'mumbai')
print('delhi' != 'mumbai')

# lexiographically - basic on ASCII value

False
True
False
True

In [15]:
s1 = 'apple'
s2 = 'zebra'
s1 < s2

True

In [11]:
'Pune' > 'pune'

False

In [ ]:
# Logical operations - empty string -> false, non-empty string -> True

In [18]:
'hello' and 'world'

'world'

In [19]:
'hello' or 'world'

'hello'

In [20]:
'' and 'world'

''

In [21]:
'' or 'world'

'world'

In [22]:
not ''

True

In [23]:
not 'hello'

False

In [ ]:
# Loops on string
# string in python is iterable, then we can use for loop

In [24]:
for i in 'delhi':
  print(i)

d
e
l
h
i

In [25]:
for i in 'delhi':
  print('pune')

pune
pune
pune
pune
pune

In [26]:
# Membership operations - in , not in
'D' in 'Delhi'

True

In [27]:
'D' not in 'Delhi'

False

In [29]:
'd' in 'Delhi'

False

## Common Functions
- len
- max
- min
- sorted

In [30]:
# len
len('hello world')

11

In [31]:
# max
max('hello world')

'w'

In [32]:
# min
min('hello world')

' '

In [33]:
# sorted
sorted('hello world')

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

In [34]:
sorted('hello world',reverse=True)

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

## Capitalize/Title/Upper/Lower/Swapcase

In [43]:
s = 'HeLLo woRlD'
print(s.capitalize())
print(s)

Hello world
HeLLo woRlD

In [44]:
s.title()

'Hello World'

In [45]:
s.upper()

'HELLO WORLD'

In [46]:
'Hello World'.lower()

'hello world'

In [47]:
'HeLLo woRlD'.swapcase()

'hEllO WOrLd'

## Count/Find/Index

In [1]:
'my name is Nitish'.count('i')  # gives frequency of substring in a string

3

In [2]:
'my name is Nitish'.find('is')  # gives index of substring if present, otherwise -1

8

In [3]:
'my name is Nitish'.find('x')

-1

In [4]:
'my name is Nitish'.index('is')  # gives index of substring if present, otherwise gives error

8

In [5]:
'my name is Nitish'.index('x')

ValueError: substring not found

## endswith/startswith

In [6]:
'my name is nitish'.endswith('sh')

True

In [7]:
'my name is nitish'.endswith('xys')

False

In [8]:
'my name is nitish'.startswith('sh')

False

In [9]:
'my name is nitish'.startswith('my')

True

## format

In [12]:
name = 'Nitish'
gender = 'Male'
print('My name is {} and I am a {}'.format(name,gender))
print('My name is {} and I am a {}'.format(gender,name))   # order matters
print('My name is {1} and I am a {0}'.format(gender,name))

My name is Nitish and I am a Male
My name is Male and I am a Nitish
My name is Nitish and I am a Male

## isalnum/ isalpha/ isdigit/ isidentifier

In [1]:
'nitish1234'.isalnum()

True

In [3]:
'nitish1234%'.isalnum()

False

In [2]:
'nitish1234'.isalpha()

False

In [4]:
'nitish'.isalpha()

True

In [5]:
'1234'.isdigit()

True

In [7]:
'nitish1234'.isdigit()

False

In [9]:
'first_name'.isidentifier()

True

In [10]:
'first-name'.isidentifier()

False

## Split/Join

### split():

The split() method splits a string into a list.

You can specify the separator, default separator is any whitespace.

**Note:** When maxsplit is specified, the list will contain the specified number of elements plus one.

Syntax
```
string.split(separator, maxsplit)
```
separator	- Optional. Specifies the separator to use when splitting the string. By default any whitespace is a separator.<br>
maxsplit - Optional. Specifies how many splits to do. Default value is -1, which is "all occurrences".

In [11]:
'hi my name is nitish'.split()

['hi', 'my', 'name', 'is', 'nitish']

In [13]:
'hi my name is nitish'.split('i')

['h', ' my name ', 's n', 't', 'sh']

In [14]:
'hi my name is nitish'.split('is')

['hi my name ', ' nit', 'h']

In [21]:
txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", 1)
print(x)
y = txt.split("#", 2)
print(y)

['apple', 'banana#cherry#orange']
['apple', 'banana', 'cherry#orange']

### join():

The join() method takes all items in an iterable and joins them into one string.

A string must be specified as the separator.

Syntax:
```
string.join(iterable)
```
iterable - Required. Any iterable object where all the returned values are strings.

In [17]:
"".join(['hi', 'my', 'name', 'is', 'nitish'])

'himynameisnitish'

In [18]:
" ".join(['hi', 'my', 'name', 'is', 'nitish'])

'hi my name is nitish'

In [19]:
"-".join(['hi', 'my', 'name', 'is', 'nitish'])

'hi-my-name-is-nitish'

## Replace

In [22]:
'hi my name is nitish'.replace('nitish','campusx')

'hi my name is campusx'

In [23]:
'hi my name is nitish'.replace('nitish1234','campusx')

'hi my name is nitish'

## Strip

In [25]:
'nitish             '.strip()

'nitish'

In [26]:
'         nora durst        '.strip()

'nora durst'

## Example Programs

#### Find the length of a given string without using the len() function.

In [30]:
s = input('Enter string: ')
count = 0
for i in s:
  count += 1
print('Length of string:',count)

Enter string: my name is nitish
Length of string: 17

#### Extract username from a given email.

In [31]:
# Eg if the email is nitish24singh@gmail.com
# then the username should be nitish24singh

email = input('Enter email: ')
username = email.split('@')[0]
print('Username:',username)

Enter email: nitish24singh@gmail.com
Username: nitish24singh

In [35]:
email = input('Enter email: ')
pos = email.find('@')
print('Username:',email[:pos])

Enter email: nitish@gmail.com
Username: nitish

#### Count the frequency of a particular character in a provided string.

In [40]:
# Eg 'hello how are you' is the string, the frequency of h in this string is 2.
s = input('Enter string: ')
c = input('Enter character: ')
print('Frequency of "{}" in string "{}" is: {}'.format(c,s,s.count(c)))

Enter string: hello how are you
Enter character: x
Frequency of "x" in string "hello how are you" is: 0

In [43]:
s = input('Enter string: ')
c = input('Enter character: ')
count = 0
for i in s:
  if i == c:
    count += 1
print("Frequency of '{}' in '{}' is {}".format(c,s,count))

Enter string: hello how are you
Enter character: o
Frequency of 'o' in 'hello how are you' is 3

#### Write a program which can remove a particular character from a string.

In [48]:
s = input('Enter string: ')
c = input('Enter character which you want to remove: ')
print(s.replace(c,''))

Enter string: hello world
Enter character which you want to remove: l
heo word

In [51]:
s = input('Enter string: ')
c = input('Enter character which you want to remove: ')
res = ''
for i in s:
  if i != c:
    res += i
print(res)

Enter string: hello world
Enter character which you want to remove: o
hell wrld

#### Write a program that can check whether a given string is palindrome or not.

In [57]:
s = input('Enter string: ')
if s == s[::-1]:
  print('Palindrome')
else:
  print('Not Palindrome')

Enter string: noon
Palindrome

In [59]:
s = input('Enter string: ')
flag = True
for i in range(0,len(s)//2):
  if s[i] != s[len(s) - i -1]:
    flag = False
    print('Not a Palindrome')
    break

if flag:
  print('Palindrome')

Enter string: python
Not a Palindrome

#### Write a program to count the number of words in a string without split()

In [78]:
s = input('Enter string: ')
L = s.split()
print('Number of words in string:',len(L))
print('Words:',L)

Enter string: delhi mumbai pune chennai
Number of words in string: 4
Words: ['delhi', 'mumbai', 'pune', 'chennai']

In [70]:
s = input('Enter string: ').strip()
count = 0
for i in s:
  if i == ' ':
    count += 1
print('Number of words in string:',count+1)

Enter string:  delhi mumbai pune chennai
Number of words in string: 4

In [77]:
s = input('Enter string: ')
L = []
temp = ''
for i in s:
  if i != ' ':
    temp += i
  else:
    L.append(temp)
    temp = ''
L.append(temp)
print('Number of words in string:',len(L))
print('Words:',L)

Enter string: delhi mumbai pune chennai
Number of words in string: 4
Words: ['delhi', 'mumbai', 'pune', 'chennai']

#### Write a python program to convert a string to title case without using the title()

In [81]:
s = input('Enter string: ')
print(s.title())

Enter string: delhi mumbai pune chennai
Delhi Mumbai Pune Chennai

In [83]:
s = input('Enter string: ')
L = s.split()
for i in L:
  print(i.capitalize(),end=' ')

Enter string: delhi mumbai pune chennai
Delhi Mumbai Pune Chennai

In [88]:
s = input('Enter string: ')
L = []
for i in s.split():
  temp = i[0].upper()+i[1:].lower()
  L.append(temp)
print(" ".join(L))

Enter string: delhi mumbai pune chennai
Delhi Mumbai Pune Chennai

#### Write a program that can convert an integer to string.

In [95]:
i = int(input('Enter integer: '))
print(str(i))

Enter integer: 1234
1234

In [100]:
number = int(input('Enter integer: '))
s = ''
while number > 0:
  s = str(number%10) + s
  number //= 10
print(s)
print(type(s))

Enter integer: 2345
2345
<class 'str'>

In [102]:
number = int(input('Enter number: '))

digits = '0123456789'
result = ''
while number != 0:
  result = digits[number % 10] + result
  number = number//10

print(result)
print(type(result))

Enter number: 1234
1234
<class 'str'>